#logo{
    max-width: 400px;
    width: 100%;
}
.main-menu{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: right;
    font-weight: bold;

}
.header-text{
    color: #6596C4;
    background-color:#E0FFFF;
    font-size: 28px;
    font-style: italic;
    text-align: right;
    font-weight: bold;
    height: 140px;
    line-height: 140px;
}
